.card-body {
  background-color: green;
}
.front1
{

}
.back1   {
  display: none;
}
.front2
{

}
.back2
{
  display: none;
}
.front3
{

}
.back3
{
  display: none;
}
.front4
{

}
.back4
{
  display: none;
}
.front5
{

}
.back5
{
  display: none;
}
.front6
{

}
.back6
{
  display: none;
}
.front7
{

}
.back7
{
  display: none;
}
.front8
{

}
.back8
{
  display: none;
}
.front9
{

}
.back9
{
  display: none;
}
.front10
{

}
.back10
{
  display: none;
}
.front11
{

}
.back11
{
  display: none;
}
.front12
{

}
.back12
{
  display: none;
}
.front13
{

}
.back13
{
  display: none;
}
.front14
{

}
.back14
{
  display: none;
}
.front15
{

}
.back15
{
  display: none;
}
.front16
{

}
.back16
{
  display: none;
}
.front17
{

}
.back17
{
  display: none;
}
.front18
{

}
.back18
{
  display: none;
}
.front19
{

}
.back19
{
  display: none;
}
.front20
{

}
.back20
{
  display: none;
}
